*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
html{
    /* background: #fbe9be; */
    font-family: 'Readex Pro', sans-serif;
    text-align: right;
}
.saad{
    width: 1500px;
    height: 98vh;
    margin:  1vh auto;
    background-color: #fff;
    border-radius: 10px;
    /* border: solid 2px #e39b0f; */
    overflow: hidden;
}
.saad .cities-list{
    width: 22%;
    height: 100vh;
    float: right;
    background: #143064;
    color: white;
    /* border-left: 1px solid red; */
    
}
.saad .cities-list h4{
    font-size: 35px;
    padding: 30px 20px 30px 20px;
    border-bottom: 1px solid #f7cd8b

}
.saad .cities-list ul{
    height: 550px;
    margin-top: 10px;
    /* background: red; */
    /* border-bottom: #b17116 solid 1px; */
    overflow-y: scroll

}
/* // scroll bar */
::-webkit-scrollbar {
    width: 1px;
}

::-moz-scrollbar {
    width: 1px;
}


.saad .cities-list ul li{
    list-style-type: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: .5s;
}
.saad .cities-list ul li:hover{
    background: #082252;
    background: #b17605;
}

.saad .cities-list p{
    text-align: center;
    font-size: 10px;
    margin-top: 60px;
}

.saad .cities-list p a{
    color: #b17605
}

.saad .details{
    width: 78%;
    height: 100vh;
    float: right;
    float: left;
    /* background: #082252 */
}
.saad .details .big-name{
    width: 100%;
    height: 25vh;
    background: #f7d188;
    overflow: hidden;
    /* text-align: center */
}

.saad .details .big-name h2{
    font-size: 50px;
    padding: 28px
}
.saad .details .big-name p{
    font-size: 30px;
    padding: 20px 30px;;
    float: left
}
.times{
    width: 100%;
    height: 468px;
    overflow: hidden;
    margin-top: 15px;
    text-align: center
}

.times .nothing-message{
    width: 500px;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    background: #f7cd8b;
    color: #123463;
    font-size: 26px;
}

.times img{
    width: 450px;
    /* border: solid #ddd 3px; */

}
.times .card{
    width: 214px;
    height: 400px;
    float: right;
    background: #082252;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    margin: 30px 10px;
    border-bottom: #f7d188 15px solid;
    transition: .5s
}
.times .card:hover{
    transform: scale(1.06);
    /* transform: rotate(5deg) */
}
.times .card h4{
    font-size: 45px;
    padding-bottom: 25px;
    padding: 20px;
    background: #ddd;
    background: #b17605;
}
.times .card .timing{
    padding: 40px 0;
    font-size: 85px;
    /* font-family: 'Orbitron', sans-serif; */
    
}

.times .card .amPM{
    font-size: 40px;
}

.time .card span{
    font-size: 25px;
}

.details .aya{
    width: 100%;
    height: 220px;
    /* background: red; */
    margin-top: 15px;
    text-align: center;
}
.details .aya p{
    text-align: center;
    font-size: 30px;
    /* margin-top: 157px; */
    padding: 20px;
    background: #b17116;
    color: #fff;
}